@font-face {
  font-family: 'Garet';
  src: url('ofont.ru_Garet.woff2') format('woff2'),
      url('ofont.ru_Garet.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url('tt-norms-bold.woff2') format('woff2'),
      url('tt-norms-bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

img {
  padding: 0;
  margin: 0;
}

.page {
  max-inline-size: 1326px; 
}

.banner {
  position: relative;
  max-inline-size: 1326px; 
  inline-size: 100%;
  block-size: 300px;
  background-image: url(mainImage.png);
  background-position: right;
  background-repeat: no-repeat;
  transition: background-position 0.2s ease-in-out; 
  overflow: hidden;
}

.banner:hover {
  background-position: 103%;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(overlay.png);
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Garet';
  position: absolute;
  color: white;
  font-size: 69px;
  left: 51px;
  top: 52px;
  letter-spacing: 1.1px;
  line-height: 0.7;
}

.title-blue {
  font-size: 43px;
  color: #7fd9fb;
  position: relative;
  display: inline-block;
}

.title-blue::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #7fd9fb;
  animation: wave 1.5s infinite alternate-reverse ease-in-out;
}

.subtitle {
  font-family: 'TT Norms';
  position: absolute;
  color: white;
  left: 51px;
  top: 172px;
  text-transform: uppercase;
  font-size: 25px;
}

.price {
  font-family: 'TT Norms';
  position: absolute;
  color: white;
  left: 52px;
  top: 210px;
  font-size: 25px;
  background-color: #7fd9fb;
  padding: 3px 13px;
  border-radius: 10px;
  animation: pulse 1.5s ease-in-out infinite alternate-reverse;
}

.rectangle {
  position: absolute;
  right: 49px;
  top: 0;
}

.logo {
  position: absolute;
  right: 73px;
  top: 18px;
}


@keyframes pulse {
  from {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(127, 217, 251, 0.6);
  }
  to {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(127, 217, 251, 1);
  }
}

@keyframes wave {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 745px) {
  .rectangle {
    width: 100px;
  }

  .logo {
    width: 60px;
  }
}